.login{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}
.login form{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
.login form input{
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.Button{
  
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: #1e90ff;
  color: white;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}